@media all and (max-width: 670px) {
    .mempelai img{
      width: 190px;
      transition: all 0.5s;
      border-radius: 10px;
    }

    .mempelai img:hover {
      width: 200px;
      transition: all 0.5s;
    }
}
