@media all and (max-width: 670px) {
    .mempelai img{
      width: 220px;
      filter: blur(4px);
      transition: all 0.5s;
      backdrop-filter: blur(20px);
      border-radius: 20px;
      margin: 40px;
    }

    .mempelai img:hover {
      width: 240px;
      filter: blur(0px);
      transition: all 0.5s;
    }
}
